[Desktop Entry]

Type=Application
Version=1.1.7
Name=BTT Writer
Comment=Desktop version of BTT Writer
Path=/opt/BTT-Writer
Exec=/opt/BTT-Writer  # This needs to be a dynamic absolute path to the executable file
Icon=/opt/BTT-Writer/resources/app/icons/icon-big.png  # This needs to be a dynamic absolute path to the icon image
Terminal=false
Categories=Translation;Languages;
