[Desktop Entry]

Type=Application
Version=1.3.1
Name=BTT Writer
Comment=Desktop version of BTT Writer
StartupWMClass=BTT-Writer
Path=/opt/BTT-Writer
Exec=/opt/BTT-Writer
Icon=/opt/BTT-Writer/resources/app/icons/icon-big.png
Terminal=false
Categories=Translation;Languages;
