<!DOCTYPE html>
<html>
<head>
    <title>BTT Writer</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-splash.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>
<body>
    <ts-splash id="splash"></ts-splash>

    <script>
    (function () {
        var path = require('path');
        var i18n = require('../js/i18n').Locale(path.resolve(path.join(__dirname, '..', '..', 'i18n')));
        var ipcRenderer = require('electron').ipcRenderer;
        var splash = document.getElementById('splash');

        splash.content = {title: "translationAcademy", subtitle: "", message: i18n.translate("creating_academy_window")};

        ipcRenderer.on('loading-status', function (event, status) {
            splash.updateMessage(status);
        });

    })();
    </script>
</body>
</html>
