<!DOCTYPE html>
<html>
<head>
    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-dialogs/ts-crash-dialog.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

    <style>
        html, body {
            background-color: transparent !important;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <ts-crash-dialog></ts-crash-dialog>
</body>
</html>
