<!DOCTYPE html>
<html>

<head>
    <title>BTT Writer</title>

    <script src="../components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../elements/ts-main/ts-splash.html">
    <link rel="import" href="../elements/ts-main/app-theme.html">

</head>

<body>
    <ts-splash id="splash"></ts-splash>

    <script>
        (function () {
            const ipcRenderer = require('electron').ipcRenderer;

            const pack = require('../../package');
            const path = require('path');
            const i18n = require('../js/i18n').Locale(path.resolve(path.join(__dirname, '..', '..', 'i18n')));
            const Configurator = require('../js/configurator').Configurator;
            
            const configurator = new Configurator();
            configurator.setStorage(window.localStorage);
            const theme = configurator.getUserSetting("colortheme").name;

            const loc = configurator.getUserSetting("localization");
            i18n.setLocale(loc.id);

            const splash = document.getElementById('splash');
            const versiontext = i18n.translate("version_title", pack.version);
            splash.content = { title: "BTT Writer", subtitle: versiontext, message: i18n.translate("loading_text") };

            ipcRenderer.send('theme-loaded', theme);

            ipcRenderer.on('loading-status', function (event, status) {
                splash.updateMessage(status);
            });
        })();
    </script>
</body>

</html>