
@import 'fonts/fonts.css';

@page main {
    margin: 50px 70px;
    @bottom-center {
        content: counter(page);
    }
}

.page-title {
    string-set: title contents;
    break-before: page;
    display: none;
}

@page {
    @top-center {
        content: string(title)
    }
}

* {
    overflow: visible !important;
    float: none !important;
}

h1, h2 {
    text-align: center;
}

.align-start  { text-align: start; }
.align-center { text-align: center !important; } /* to override justify rule */
.align-end    { text-align: end; }

#textholder p {
    widows: 3;
    orphans: 3;
}

#licenseholder * {
    font-family: 'Noto Sans', sans-serif;
}

.titles {
    margin-top: 400px;
}

.break {
    page-break-after: always;
}

.nobreak {
    page-break-inside: avoid;
}

.justify, .justify * {
    text-align: justify;
}

.double, .double * {
    line-height: 190%;
}

.nobreak p {
    margin: 0 0 30px;
}

#startnum {
    page: main;
    counter-reset: page 1;
}

sup {
    font-size: 60%;
}

.obs #notices- {
    page-break-before: always;
}

.toc a::after {
    content: leader(".") target-counter(attr(href), page);
}

a {
    text-decoration: none;
    color: black;
}

.paragraph {
    position: relative;
    margin-bottom: 0.5em;
    min-height: 1.6em;
}

.spacer {
    height: 1.6em;
}

.verse-num {
    font-size: 0.8em;
    vertical-align: super;
    margin-right: 1px;
    color: #888888;
    font-weight: bold;
}

.verse-num-abs {
    position: absolute;
    top: 0;
    font-weight: bold;
}
[dir="ltr"] .verse-num-abs {
    left: 0;
}
[dir="rtl"] .verse-num-abs {
    right: 0;
}

[dir="ltr"] .indent-0 { padding-left: 0; }
[dir="ltr"] .indent-1 { padding-left: 20px; }
[dir="ltr"] .indent-2 { padding-left: 40px; }
[dir="ltr"] .indent-3 { padding-left: 60px; }

[dir="rtl"] .indent-0 { padding-right: 0; }
[dir="rtl"] .indent-1 { padding-right: 20px; }
[dir="rtl"] .indent-2 { padding-right: 40px; }
[dir="rtl"] .indent-3 { padding-right: 60px; }

.footnote-caller-link,
.footnote-back-link {
    color: #00B0FF;
    text-decoration: none;
}

.footnote-caller-link sup {
    text-decoration: underline;
    margin-left: 1px;
}

.footnote-caller-link,
.footnote-back-link {
    display: inline-block;
}

.footnote-caller-link {
    padding-top: 100px;
    margin-top: -100px;
}

.footnote-caller-target {
    font-weight: bold;
}

.footnotes {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
    page-break-before: auto;
}

.footnotes > div {
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}
